.App {
  margin: 10px;
  text-align: center;
  justify-content: center;
}
body {
  background-color: rgb(243, 225, 198);
  font-family: "Courier New", Courier, monospace;
}

.main {
  /* height: 400px; */
  background-color: rgb(218, 213, 213);
  margin: auto;
  width: 40%;
  padding: 20px;
  /* overflow-y: auto; */
}
/* .items-list {
  overflow-y: scroll;
  height: 100%;
} */

/* .form {
  width: 100%;
  background-color: aqua;
} */
